:root{
    --base-color: #d4db00;
    --accent-color: #f7ff08;
    background-color:#3a2600;


    --base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    --accent-font: 'Dancing Script', cursive;
}