:root{
    --base-color: #6d0092;
    --accent-color: #b908ff;
    background-color:#ececec;


    --base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    --accent-font: 'Dancing Script', cursive;
}