:root{
    --base-color: #656565;
    --accent-color: #e31616;
    background-color:#ffffff;


    --base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    --accent-font: 'Dancing Script', cursive;
}