:root{
    --base-color: #656565;
    --accent-color: #69a500;
    background-color:#ece2d0;


    --base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    --accent-font: 'Dancing Script', cursive;
}