:root{
    --base-color: #6c584c;
    --accent-color: #ef476f;
    background-color: #d4a373;

    --base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    --accent-font: 'Dancing Script', cursive;
}