:root{
    --base-color: #6c584c;
    --accent-color: #baa47c;
    background-color:#ece2d0;


    --base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    --accent-font: 'Dancing Script', cursive;
}